
body {
  height: 100%;
  font-family: "Montserrat";
  text-align: center;
}
.checked {
  color: orange;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: black;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}


/* Sections */

.colored-section {
  background-color: #fff;
  color: #A67C00;
}

.services-header{
    color: #A67C00 !important;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar-toggler-icon  {
color : gold;
}



.nav-bar-icon{
color: #A67C00 !important;
}


.navbar-brand {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}

.nav-item {
  padding: 15px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
   color: #9a6800;
}



/* Title Section */
.colored-section-top{

   background-image: url(../images/ibex-desktop.jpg);
   height: 560px ;
   background-repeat: no-repeat;
   background-position: center;
   background-size:contain;


}








#title {

  background-color: #fff;
  color: #aa863a;
  text-align: left;

}

#title .container-fluid {
  padding: 3% 3% 7%;
}


/* Services Section */

#features {
  position: relative;
}
.service-section{
  background-color: #f4f4f4;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #A67C00;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #BF9B30;
}

/* Testimonial Section */

#testimonials {
  background-color: #A67C00;

}

.testimonial-text {
  font-size: 2rem;
  line-height: 2.0;
  color:#fff;
}

.font-weight-bold{
  color: #fff;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


.contact_us{
  background-color: #F4F4F4;
}
.contactc_us_text{
color: #A67C00;
}



/* Footer Section */
.footer{


}

.social_networks{
  background-color: #DCB239;
}




.footer-middle{
  background-color: #EFEFEF;
}

.text-uppercase{
  color: #DCB239;
}
.footer-copyright{
  background-color: #fff ;

}










@media (max-width: 1028px) {

  #title {
    text-align: center;


     background-image: url(../images/ibex-mobile.jpg);
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
  .nav-collapse{
    background-color: white;
    opacity: .7;
  }
}


/*contact us */
@media (min-width: 768px) {
    .fixed-posi {
        width: 50%;
        margin-left: 50%;
        height:100%;
        position:fixed;
    }
}

/*maps */
.map-container-5{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-5 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
